{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Caos News</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'core/css/estiloaboutus.css' %}">
    <link rel="icon" type="image/png" href="{% static 'core/img/l-redondo.png' %}" />
</head>

<body>

    <div class="container-fluid">
<!--Nav-->
        <nav class="row" id="navi">
            <div class="col-9">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'core/img/letra1.png' %}" height="35px" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#directores">Directores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#periodistas">Periodistas</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'AboutUs' %}">Sobre Caos</a>
                        </li>
                    </ul>
                    </div>
                </nav>
            </div>
            <div class="col reglog">
                <a href="{% url 'Login' %}"><button type="button" class="btn btn-outline-dark">Login</button></a>
                <a href="{% url 'Register' %}"><button type="button" class="btn btn-dark">Registrate</button></a>
            </div>
        </nav>
<!--contenido-->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="colectivo-noticia">
                            <br><br><br>
                            <h1 class="title">SOBRE CAOS NEWS</h1>
                            <br>
                            <br>
                            <h3 class="subtitle">Caos News - Colectivo de Noticias</h3>
                            <p class="parrafo">El Centro de Colectivo de Noticias (<span class="sub"><span
                                        class="sub">Caos News</span></span>) es una fundación sin fines de lucro
                                destinada a
                                promover y ejercer el periodismo de investigación. Creado en Abril de 2021, su
                                patrimonio se
                                conforma por donaciones voluntarias de cuyo monto, origen y empleo rinde cuenta pública.
                                El
                                gobierno corporativo de <span class="sub">Caos News</span> está entregado aun directorio
                                que vigila en general y
                                de
                                manera
                                ex post el cumplimiento de los principios que más adelante se indican. Por lo mismo, el
                                directorio
                                carece de toda injerencia en la labor periodística de <span class="sub">Caos News</span>
                                y quienes ejecutan la
                                labor
                                periodística de toda injerencia en el directorio.
                                <span class="sub">Caos News</span> considera que la democracia tiene como uno de sus
                                pilares fundamentales el
                                derecho de
                                los ciudadanos a hacer el escrutinio de los poderes públicos y privados a fin de
                                verificar que
                                cumplan la ley y estén a la altura de las expectativas que han sembrado explícitamente
                                en los
                                ciudadanos. <span class="sub">Caos News</span> piensa que uno de los deberes del
                                periodismo de investigación es
                                hacer ese
                                escrutinio, contribuyendo a la transparencia de la esfera pública.
                                El periodismo de investigación, en opinión de <span class="sub">Caos News</span>, no
                                socava el poder sino que,
                                paradójicamente, contribuye a su legitimidad ayudando a que él satisfaga los estándares
                                que son
                                propios de una sociedad democrática. Estos estándares indican que quienes poseen poder,
                                estatal
                                o
                                desde fuera del Estado, o aspiran a tenerlo, deben cumplir rigurosamente la ley,
                                respetar los
                                derechos fundamentales de los ciudadanos y estar a la altura de las expectativas que han
                                generado en
                                la opinión pública como base de su reputación.</p>
                        </div>
                        <br id="directores">
                        <br>
                        <br>
                        <br>
                        <div class="dir">
                            <h3  class="dir-title">Directores de Caos News</h3>
                            <div class="articulo">
                                <img class="img-art" src="https://picsum.photos/id/1005/200/300" alt="">
                                <p><span class="sub">Presidente: Camilo Flores</span>, Lorem ipsum dolor sit amet
                                    consectetur adipisicing elit. Nihil dicta iure laudantium quasi, ratione
                                    perspiciatis ducimus eveniet, voluptas sequi magnam eum eaque in vitae quod aliquam
                                    minima vel quo corrupti non rerum repellendus natus porro commodi nisi? Ut
                                    voluptatibus sint beatae nihil veniam, natus consequatur accusantium excepturi odio
                                    quisquam praesentium.</p>
                            </div>
                            <div class="articulo">
                                <img class="img-art" src="https://picsum.photos/id/1005/200/300" alt="">
                                <p><span class="sub">Vicepresidente: Bastian Leyton</span>, Lorem ipsum dolor sit amet
                                    consectetur adipisicing elit. Nihil dicta iure laudantium quasi, ratione
                                    perspiciatis ducimus eveniet, voluptas sequi magnam eum eaque in vitae quod aliquam
                                    minima vel quo corrupti non rerum repellendus natus porro commodi nisi? Ut
                                    voluptatibus sint beatae nihil veniam, natus consequatur accusantium excepturi odio
                                    quisquam praesentium.</p>
                            </div>
                            <div class="articulo">
                                <img class="img-art" src="https://picsum.photos/id/1005/200/300" alt="">
                                <p><span class="sub">Secretario: Marcelo Rodriguez</span>, Lorem ipsum dolor sit amet
                                    consectetur adipisicing elit. Nihil dicta iure laudantium quasi, ratione
                                    perspiciatis ducimus eveniet, voluptas sequi magnam eum eaque in vitae quod aliquam
                                    minima vel quo corrupti non rerum repellendus natus porro commodi nisi? Ut
                                    voluptatibus sint beatae nihil veniam, natus consequatur accusantium excepturi odio
                                    quisquam praesentium.</p>
                            </div>
                        </div>
                        <br id="periodistas">
                        <br>
                        <br>
                        <br>
                        <div class="per">
                            <h3 class="per-title">Periodistas de Caos News</h3>
                            <div class="articulo">
                                <img id="foto" class="img-art" src="https://picsum.photos/id/1005/200/300" alt="">
                                <p><span class="sub">Camilo Flores</span>, Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Nihil dicta iure laudantium quasi, ratione perspiciatis ducimus
                                    eveniet, voluptas sequi magnam eum eaque in vitae quod aliquam minima vel quo
                                    corrupti non rerum repellendus natus porro commodi nisi? Ut voluptatibus sint beatae
                                    nihil veniam, natus consequatur accusantium excepturi odio quisquam praesentium.</p>
                            </div>
                            <div class="articulo">
                                <img class="img-art" src="https://picsum.photos/id/1005/200/300" alt="">
                                <p><span class="sub">Bastian Leyton</span>, Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Nihil dicta iure laudantium quasi, ratione perspiciatis ducimus
                                    eveniet, voluptas sequi magnam eum eaque in vitae quod aliquam minima vel quo
                                    corrupti non rerum repellendus natus porro commodi nisi? Ut voluptatibus sint beatae
                                    nihil veniam, natus consequatur accusantium excepturi odio quisquam praesentium.</p>
                            </div>
                            <div class="articulo">
                                <img class="img-art" src="https://picsum.photos/id/1005/200/300" alt="">
                                <p><span class="sub">Marcelo Rodriguez</span>, Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Nihil dicta iure laudantium quasi, ratione perspiciatis ducimus
                                    eveniet, voluptas sequi magnam eum eaque in vitae quod aliquam minima vel quo
                                    corrupti non rerum repellendus natus porro commodi nisi? Ut voluptatibus sint beatae
                                    nihil veniam, natus consequatur accusantium excepturi odio quisquam praesentium.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#top"><img class="btn-top" src="{% static 'core/img/l-redondo.png' %}" alt="Go to Top"></a>
    </div>
    {% bootstrap_javascript jquery='full' %}
</body>

</html>