{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'core/css/estilologin.css' %}">
    <link rel="icon" type="image/png" href="{% static 'core/img/l-redondo.png' %}" />

</head>

<body>

    <div class="container">
        <!--Mini btn about-->
        <div class="row">
            <div class="col">
                <ul class="nav-login">
                    <li class="nav-item">
                        <a class="link" href="{% url 'AboutUs' %}">Sobre Caos News</a>
                    </li>
                    <li class="nav-item der">
                        <a class="link" href="{% url 'index' %}">INICIO</a>
                    </li>
                </ul>
            </div>
        </div>

        <!--logo-->
        <div class="row">
            <div class="col">
                <img class="logo_full" src="{% static 'core/img/l-alargado-3.png' %}" alt="logo">
                <img class="logo_mobile" src="{% static 'core/img/l-alargado-2.png' %}" alt="logo">
            </div>
        </div>
<!-- Login Box -->
        <div class="login-box text-center">
            <h1>Login</h1>
            <form class="contacto" id="contactForm">
                <div class="row textbox">
                    <div class="col">
                        <i class="fas fa-user"></i>
                        <input id="usuario" type="text" class="form-control" placeholder="Nombre Usuario" required>
                        <br>
                        <br>
                        <div class="invalid-feedback" id="eUsuario"></div> 
                    </div>    
                </div>

                <div class="row textbox">
                    <div class="col">
                        <i class="fas fa-lock"></i>
                        <input id="password" class="form-control" type="password" placeholder="Contraseña" required>
                        <br>
                        <br>
                        <div class="invalid-feedback" id="eContrasenna"></div> 
                    </div>
                </div>

                <!-- <a href="index.html"><input type="button" class="btn" onclick="validar()" value="INGRESAR"></a> -->
                <div>
                    <button type="submit" class="btn button">Ingresar</button>
                </div>  

                <a href="{% url 'Register' %}"><input type="button" class="btn" value="REGISTRO"></a>
            </form>
        </div>
        <div><img class="login-gira" src="{% static 'core/img/l-redondo.png'%}" alt=""></div>
    </div>
    {% bootstrap_javascript jquery='full' %}
    <script src="{% static 'core/js/validacionLogin.js' %}"></script>
</body>

</html>