{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'core/css/estilologin.css' %}">
    <link rel="icon" type="image/png" href="{% static 'core/img/l-redondo.png' %}" />

</head>

<body>

    <div class="container-fluid">
        <!--Nav-->
        <nav class="row" id="navi">
            <div class="col-9">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'core/img/letra1.png' %}" height="35px" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'AboutUs' %}">Sobre Caos</a>
                        </li>
                    </ul>
                    </div>
                </nav>
            </div>
        </nav>
<!-- Login Box -->
        <br>
        <br>
        <div class="login-box text-center">
            <h1>Login</h1>
            <form class="contacto" id="contactForm">
                <div class="row textbox">
                    <div class="col">
                        <i class="fas fa-user"></i>
                        <input id="usuario" type="text" class="form-control" placeholder="Nombre Usuario" required>
                        <br>
                        <br>
                        <div class="invalid-feedback" id="eUsuario"></div> 
                    </div>    
                </div>

                <div class="row textbox">
                    <div class="col">
                        <i class="fas fa-lock"></i>
                        <input id="password" class="form-control" type="password" placeholder="Contraseña" required>
                        <br>
                        <br>
                        <div class="invalid-feedback" id="eContrasenna"></div> 
                    </div>
                </div>

                <!-- <a href="index.html"><input type="button" class="btn" onclick="validar()" value="INGRESAR"></a> -->
                <div>
                    <a href="{% url 'periodista' %}"><button type="button" class="btn btn-dark">Ingresar</button></a>
                </div>  
                <br>
                <div>
                    <a href="{% url 'Register' %}"><button type="button" class="btn btn-outline-dark">Registrate</button></a>
                </div> 
            </form>
        </div>
        <div id="redondo"><img class="login-gira" src="{% static 'core/img/l-redondo.png'%}" alt=""></div>
        <footer class="row">
            <div class="col-8">
              <span><p>Caos news el mejor medio independiente de noticias!</p></span>
            </div>
            <div class="col-2">
              <p>®CaosNews</p>
            </div>
        </footer>
    </div>
    {% bootstrap_javascript jquery='full' %}
    <script src="{% static 'core/js/validacionLogin.js' %}"></script>
</body>

</html>