{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'core/css/estilonoticias.css' %}">
    <link rel="icon" type="imgage/png" href="{% static 'core/img/l-redondo.png' %}">
</head>
<body>
    <div class="container-fluid">
<!--Nav-->
        <nav class="row" id="navi">
            <div class="col-9">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <img src="{% static 'core/img/letra1.png' %}" height="45px" class="navbar-brand" alt="">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#notic">Noticias</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'AboutUs' %}">Sobre Caos</a>
                        </li>
                    </ul>
                    </div>
                </nav>
            </div>
            <div class="col reglog">
                <a href="{% url 'Login' %}"><button type="button" class="btn btn-outline-dark">Login</button></a>
                <a href="{% url 'Register' %}"><button type="button" class="btn btn-dark">Registrate</button></a>
            </div>
        </nav>
<!--contenido-->
    <!--Barras busqueda-->
        <br id="notic">
        <br>
        <br>
        <br>

        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <form action="" method="POST" name="busca" id="busca">
                    <div class="row" id="busqueda">
                        <div class="col-1"></div>
                        <div class="col">
                            <div class="from-group">
                                <select name="autor" id="autor" class="custom-select">
                                    <option value="selected">Buscar autor</option>
                                    {% for a in autor %}
                                    <option value="{{a.Autor}}">{{ a.nombreAutor }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="from-group">
                                <select name="categoria" id="cate" class="custom-select">
                                    <option value="selected">Buscar categoría</option>
                                    {% for c in categoria %}
                                    <option value="{{c.Categoria}}">{{ c.nombreCategoria }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-1"></div>
        </div>
        <br>
        <br>

    <!--noticias cards-->
        
        {% for n in noticias %}
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <div class="card mb-3" style="max-width: 100%;">
                    <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ n.imagen.url }}" height="100%" width="100%" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">{{ n.titulo }}</h5>
                        <p class="card-text"> {{ n.cuerpo }}</p>
                        <a href="{% url 'news' %}" class="btn btn-outline-dark">Leer más ...</a>
                        <p class="card-text"><small class="text-muted">{{ n.fecha }}</small></p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <br>
        {% endfor %}
        <div class="row espacio"></div>
<!--footer-->
        <footer class="row">
            <div class="col-8">
            <span><p>Caos news el mejor medio independiente de noticias!</p></span>
            </div>
            <div class="col-2">
            <p>®CaosNews</p>
            </div>
        </footer>
    </div>
    <br>
    <br>

    {% bootstrap_javascript jquery='full' %}
</body>
</html>