{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Noticia</title>
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'core/css/estiloNews.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/nuestroestilo.css' %}">
  <link rel="icon" type="image/png" href="{% static 'core/img/l-redondo.png' %}" />
</head>
<body>

<!-- Capa contenedora -->
 
<div class="container">

<!--Nav-->
    <nav class="row" id="navi">
      <div class="col-7">
          <nav class="navbar navbar-expand-lg navbar-light">
            <img src="{% static 'core/img/letra1.png' %}" height="45px" class="navbar-brand" alt="">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'noticias' %}">Noticias</a>
                    </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'AboutUs' %}">Sobre Caos</a>
                  </li>
              </ul>
              </div>
          </nav>
      </div>
      <div class="col reglog">
          <a href="{% url 'Login' %}"><button type="button" class="btn btn-outline-dark">Login</button></a>
          <a href="{% url 'Register' %}"><button type="button" class="btn btn-dark">Registrate</button></a>
      </div>
    </nav>   
    <br>
    <br>
<!--noticia-->
      
    <div class="row">
    {% for n in noticias %}    
      <div class="col">
        <div class="fotonoticia">
            <img src="{{ n.imagen.url }}" alt="">
        </div>
      </div>
    {% endfor %}    
    </div>
    
    
    <br>
    
    <div class="titulo-seccion">
    {% for n in noticias %}    
      <div class="row">
          <h1>{{ n.titulo }}</h1>
      </div>
    {% endfor %}    
    </div>
    <br>
    <br>
<!--Info noticia-->
    <div class="row">
      <div class="col-2">
        <p>Autor: Camilo Flores</p>
      </div>
      <div class="col-2">
        <p>Fecha: 22/06/2021</p>
      </div>
      <div class="col-2">
        <p>Noticias Publicadas: 3</p>
      </div>
    </div>
    <br>
<!--cuerpo noticia-->
    {% for n in noticias %}
    <div class="row">
    
      <div class="col">
        <span>{{ n.cuerpo }}</span>
      </div>
    </div>
    {% endfor %} 
</div> 

  {% bootstrap_javascript jquery='full' %}
</body>
</html>
