{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Periodista</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'core/css/estilousuario.css' %}">
    <link rel="icon" type="image/png" href="{% static 'core/img/l-redondo.png' %}">

</head>
<body>
    <div class="container-fluid">
        <!--Nav-->
        <nav class="row" id="navi">
            <div class="col-9">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <img src="{% static 'core/img/letra1.png' %}" height="45px" class="navbar-brand" alt="">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'nuevaNoticia' %}">Agregar Noticia</a>
                        </li>
                    </ul>
                    </div>
                </nav>
            </div>
            <div class="col reglog">
                <a href="{% url 'index' %}"><button type="button" class="btn btn-danger">Cerrar sesión</button></a>
            </div>
        </nav>
        <br>
        <br>
        <br>
        <br>
<!--informacion periodista-->
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <h1>Bienvenido</h1>
                <br>
                <br>
                <ul>
                    <li><p>Nombre: Camilo Flores</p> </li>
                    <li><p>Cargo: Periodista</p></li>
                </ul>
            </div>
            <div class="col-1"></div>
        </div>
        
<!--listado noticias-->
        <hr>
        <br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <h1>Noticias</h1>
            </div>
            <div class="col-1"></div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <a href="{% url 'nuevaNoticia' %}"><button type="button" class="btn btn-outline-dark">+ Agregar Noticia</button></a>
            </div>
            <div class="col-1"></div>
        </div>
        <br>
        <div class="row">
            <div class="col"></div>
            <div class="col-10">

                <table class="table table-hover">
                    <tr>
                        <td>Imagen</td>
                        <td>Titulo</td>
                        <td>Contenido</td>
                        <td>Acción</td>
                    </tr>
                    {% for n in noticias %}
                    <tr>
                        <td><img src="{{ n.imagen.url }}" height="60px" width="80px" alt=""> </td>
                        <td>{{ n.titulo }}</td>
                        <td>{{ n.cuerpo }}</td>
                        <td>
                            <a href="{% url 'editarNoticia' n.noticia_id %}" class='btn btn-info'>Editar</a>
                            <a href="{% url 'eliminarNoticia' n.noticia_id %}" class='btn btn-danger'>Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <br>
                <br>
            </div>
            <div class="col"></div>
        </div>
    </div>
    
    {% bootstrap_javascript jquery='full' %}
</body>
</html>