*{box-sizing: border-box;} 


.container{
    font-family: sans-serif;
    background-color: white;
    padding-bottom: 10%;
    margin: auto;
}

img{
    align-items: center;
}

#carouselExampleCaptions{
    padding: 2% 0 2% 0;
}
.fotonoticia img{
    width: 100%;
}

