@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

* {
    padding: 0;
    margin: 0;
  }
body,
html {
    scroll-behavior: smooth;
    background-color: white;
    
}
        
#logreg{
    display: flex;
    align-items: right;
    justify-content: flex-end;
    padding-bottom: 10px;
}
.enlace{
    background-color: white;
    color: black;
}
.enlace:hover{
    background-color: black;
    color: white;
}
.title{
    font-weight: bolder;
    text-align: center;
    font-size: 45px;
}
.subtitle{
    font-weight: bold;
    font-size:30px;
}
.parrafo{
    padding-left: 30px;
}
.dir-title{
    font-weight: bold;
    
}
.per-title{
    font-weight: bold;
    
}
.sub{
    font-weight: bold;
    font-style: oblique;
}
.articulo{
    max-width:100%;
    display: flex;
    align-items:left;
    padding: 30px;
}

.img-art{
    max-width: 180px;
    height: 200px;
    padding-right: 20px;
}

.p{
    padding-left: 10px;
}

.btn-top{
    width: 45px;
   
    right: 0;
    position: fixed;
    z-index: 1;
    bottom: 0px;
    animation: spin 3s infinite linear;
}
nav {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 80px;
}
#navi{
    background-color: white;
}
#navi a{
    color: black;   
}
#navi a:hover{
    background-color: black;
    color: white; 
    transition: 0.5s;  
    border-radius: 5px;
}
.reglog{
    justify-content: center;
    padding-top: 20px;
}

@keyframes spin {
    60% {
        -webkit-transform: rotate(-90deg);
    }

    50% {
        -webkit-transform: rotate(90deg);
    }
}
