@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

* {box-sizing: border-box;}

body,
html {
    background-color: rgba(199, 199, 199, 0.082);
    
}

.container-fluid {
    background-color: rgba(199, 199, 199, 0.082);
        
}
.nav-login {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.link {
    color: black;
    font-size: 10pt;
}

.link:hover {
    color: red;
}

.nav-item {
    display: inline;

}

.nav-item.der {
    float: right;
}

.card{
    
    margin-top: 40px;
    margin-bottom: 40px;
}
.card-title{
    margin-bottom: 20px;
}
.notice{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.account{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}
.card-subtitle{
    font-size: 15px;
    text-align: left;
    margin-bottom: 20px;
}
.bene-reg-li{
    margin-bottom: 30px;
}
.icon {
    position: absolute;
    padding: 10px;
    color: black;
    min-width: 50px;
    margin-right: 10px;
}
.form-group input {
    /* display: flex; */
    width: 100%;
    margin-bottom: 15px;
}
.form-control{
    width: 100%;
    border: 1px solid #E6E6E6;
    margin: 8px 0;
    outline: none;
    padding: 8px 0px 8px 35px;
    transition: 0.3s;
} 
.form-control:focus{
    border: 2px solid dodgerblue;
}
 .form-check{
    padding: 20px;
    text-align: center;
    
} 
.btn {
    width: 100%;
}

.login-gira {
    max-width: 150px;
    width: 40%;
    display: block;
    margin: 50px auto;
    animation: spin 3s infinite linear;
    
}
nav {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 80px;
}

#navi{
    background-color: white;
}
#navi a{
    color: black; 
    background-color: white;   
}
#navi a:hover{
    background-color: black;
    color: white; 
    transition: 0.5s;  
    border-radius: 5px;
}
.reglog{
    justify-content: center;
    padding-top: 20px;
}

@keyframes spin {
    60% {
        -webkit-transform: rotate(-90deg);
    }

    50% {
        -webkit-transform: rotate(90deg);
    }
}

@media (max-width: 690px) {
    .logo_full {
        display: none;
    }

    .logo_mobile {
        display: block;
    }
}

footer{
    height: 80px;
    background-color: rgb(54, 54, 54);
    color: #fff;
}

footer p {
    font-style: bold;
    padding-top: 25px;
    font-size: 15px;
    margin:auto;
    color:#fff;
    text-align: center;
  }